{
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["apps/brace-web/**", "apps/brace-extension/**", "packages/web-ui/**"],
      "options": {
        "tailwindStylesheet": "packages/web-ui/src/styles.css"
      }
    },
    {
      "files": ["apps/brace-expo/**", "packages/expo-react/**"],
      "options": {
        "tailwindStylesheet": "apps/brace-expo/global.css"
      }
    }
  ]
}
